/* 
  - Processing Amplifier (PA) Read-Only Page
  - For use in control rooms of the CNN networks;
    this file is the CSS for the read only PA page. 
  - Author: Steven Edwards
  - Page Started: September 2018
*/

body {
    padding: 0.1vw 0.0vw 0.1vw 0.0vw;
    background-color: rgba(10, 05, 10, 0.99);
}

p {
    margin: 0;
}

td {
    background-color: rgba(3, 5, 3, 0.997);
    border: 0.25em solid white;
    padding-top: 0.0em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 20vw;
}

#client {
    font-size: 1.2em;
    font-family: "Oswald";
    font-weight: bold;
    color: white;
    margin-left: 0.3em;
    margin-right: 0.1em;
}

#mainDiv {
    padding: 0em 0.3em 0em 0.3em;
}

.hdsd {
    font-family: "Oswald";
    font-size: 3.5em ;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-left: 0.1em;
    margin-right: 0.1em;
}

.iocTitle {
    font-size: 0.8em;
}

.paNum {
    color: rgba(251, 255, 36, 1)
}

.noSRC {
    opacity: 0.3;
    background-color: rgba(124, 121, 127, 0.7);
}

.noSrcSpan {
    font-family: "Oswald";
    font-size: 4.5vw;
    font-weight: bold;
    color: rgba(123, 128, 120, 1); 
}

.paIO {
    font-family: 'Raleway', sans-serif;
    font-size: 0.7vw;
    font-weight: 600;
    color: rgb(207, 207, 207);
}

.src {
    font-family: "Oswald";
    font-size: 4.5vw;
    font-weight: bold;
    color: rgba(255, 252, 255, 1);
}
