body {
    padding: 0.1vw 5vw 0.1vw 5vw;
}

div {
    padding: 0em 2em 0em 2em;
}

p {
    margin: 0;
}

table {}

td {
    background-color: rgba(82, 79, 79, 0.497);
    border: 0.7em solid white;
    padding-top: 0.0em;
    padding-bottom: 0.2em;
    padding-left: 0.4em;
    padding-right: 0.2em;
    width: 19vw;
}

tr {}

#client {
    font-size: 1.2em;
}

.hdsd {
    font-family: "Oswald";
    font-size: 1.9em;
    font-weight: bold;
    color: white;
    margin: 0em 0.3em 0em 0.3em;
}

.newSRC {}

.noSRC {
    opacity: 0.2;
}

.paIO {
    font-family: "Raleway";
    font-size: 1.0vw;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.99);
}

.src {
    font-family: "Oswald";
    font-size: 4.8em;
    font-weight: bold;
    color: white; 
}