/* 
  - Processing Amplifier (PA) Read-Only Page
  - For use in control rooms of the CNN networks;
    this file is the CSS for the read only PA page. 
  - Author: Steven Edwards
  - Page Started: September 2018
*/

body {
    padding: 0.1vw 0.0vw 0.1vw 0.0vw;
    background-color: rgba(10, 05, 10, 0.99);
}

p {
    margin: 0;
}

td {
    background-color: rgba(241, 255, 46, 0.997);
    border: 0.25em solid rgba(234, 235, 230, 0.997);
    padding-top: 0.0em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    width: 20vw;
}

ul {
    list-style-type: none;
    padding-left: 0em;
    display: inline-block;
}

ul.SDOut {
    list-style-type: none;
    padding-left: 2.2em;
    display: inline-block;
}

#client {
    font-size: 2.9em;
    font-family: "Oswald";
    font-weight: bold;
    color: rgba(206, 10, 10, 0.8);
    margin-left: 0.2em;
    margin-right: 0.2em;
}

#mainDiv {
    padding: 0em 0.3em 0em 0.3em;
}

.hdsd {
    font-family: "Oswald";
    font-size: 3.5em;
    font-weight: bold;
    color: rgb(114, 114, 114);
    margin-left: 0.1em; 
    margin-right: 0.1em;
}

.hdsdTitle {
    font-size: 1.4em;
}

.clientSRCp {
    text-align: center;
}

.paIO {
    font-family: "Raleway";
    font-size: 0.7vw;
    font-weight: 600;
    color: rgba(200, 200, 200, 0.99);
}

.paNum {
    color: rgba(3, 3, 3, 0.9);
}

.noSRC {
    opacity: 0.3;
    background-color: rgba(94, 91, 92, 0.7);
}

.noSrcSpan {
    font-family: "Oswald";
    font-size: 4.5vw;
    font-weight: bold;
    color: rgba(123, 128, 120, 1); 
}

.src {
    font-family: "Oswald";
    font-size: 4.5vw;
    font-weight: bold;
    color: rgba(0, 189, 0, 1); 
}
